<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <% const { title, className = 'commonChart' } = htmlWebpackPlugin.options %>
  <title><%= title %> — GP:Charts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header id="mainHeader">
  <h1><a href="index.html"><strong>GP:</strong>Charts</a></h1>
  <h2><%= title %></h2>
</header>
<div id="chart" class="<%= className %>"></div>
</body>
</html>
