html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font: 14px/1.3 Roboto, 'Open Sans', Tahoma, sans-serif;
}

#mainHeader {
  padding: 1rem 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;

  h1, h2 {
    margin: 0 8px 0 0;
    font-weight: normal;
  }

  h1 {
    font-size: 20px;
    a {
      text-decoration: none;
      color: #333333;
    }
  }

  h2 {
    font-size: 18px;
    &:before {
      content: '› ';
    }
  }
}

%section {
  box-sizing: border-box;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.page-header {
  @extend %section;
  border-bottom: 1px solid lightgrey;
  padding-top: 1rem;
  padding-bottom: 1rem;

  h1 {
    margin-top: .5rem;
    margin-bottom: .25rem;
  }
}

.page-content {
  @extend %section;
  padding-top: 1rem;

  ul {
    padding: 0;
  }
}

.fullScreen {
  height: 100%;
}

.commonChart {
  width: 100vw;
  min-height: 700px;
}
